body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 1.5;
  font-weight: normal;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
}

.display-none {
  display: none;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background-color: transparent;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

button:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

.dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-w-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-c-space-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-gray {
  background-color: #6c757d;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.font-bold {
  font-weight: bold;
}

.container,
.head-content {
  margin: 48px auto;
}

.btn-big {
  margin: 8px 0;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

.btn-blue {
  background-color: #6a9dac;
}

.btn-blue:hover {
  background-color: #0e4c63;
}

.btn-orange {
  background-color: #f8dec4;
}

.btn-orange:hover {
  background-color: #d5917b;
}

.nav {
  padding: 6px 0;
  color: white;
  background-color: #0e4c63;
}

.nav a {
  color: white;
}

.introduction,
.nav-bar {
  padding: 0 15px;
}

.nav-content {
  margin: 0 auto;
}

.about {
  max-width: 630px;
}

.contact {
  width: 40%;
  margin-left: 95px;
}

.about,
.contact {
  padding: 24px 15px;
}

.icon {
  margin-right: 8px;
}

.hamburger-list {
  margin: 2px 0;
  padding: 4px 12px;
  border: solid 1px rgba(106, 157, 172, 0.5);
  border-radius: 5px;
  font-size: 20px;
  color: #6a9dac;
}

.hamburger-list:hover {
  border-color: rgba(248, 222, 196, 0.5);
  color: #f8dec4;
}

.nav-logos:hover {
  text-decoration: none;
  cursor: pointer;
}

.head-content {
  max-width: 610px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.head-text {
  font-size: 20px;
  font-weight: 100;
  color: rgba(14, 76, 99, 0.8);
}

.main-content {
  padding: 48px 15px 30px;
}

.main-content li {
  max-width: 33%;
}

.card {
  border: solid 1px rgba(14, 76, 99, 0.1);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(14, 76, 99, 0.1);
          box-shadow: 0 0 5px rgba(14, 76, 99, 0.1);
  overflow: hidden;
}

.card-head {
  position: relative;
  height: 220px;
  background-color: #0e4c63;
  overflow: hidden;
}

.card-head:hover .card-img {
  opacity: 0.8;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.card-head:hover .card-img-text {
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.card-img {
  position: absolute;
}

.card-img-text {
  opacity: 0;
  color: white;
}

.card-body {
  padding: 20px;
}

.card-footer-text {
  font-size: 8px;
  color: rgba(14, 76, 99, 0.7);
}

.card-btns {
  font-size: 0;
}

.btn-view {
  border-radius: 5px 0 0 5px;
}

.btn-edit {
  border-radius: 0 5px 5px 0;
}

.btn-view,
.btn-edit {
  padding: 5px 8px;
  border: solid 1px rgba(106, 157, 172, 0.7);
  font-size: 14px;
  color: #6a9dac;
}

.btn-view:hover,
.btn-edit:hover {
  color: white;
  background-color: #6a9dac;
}

footer.container {
  padding-left: 30px;
  padding-right: 30px;
}

footer.container a {
  color: #d5917b;
}

.footer-content {
  margin: 0;
}

.back-link {
  float: right;
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .introduction {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .nav-content {
    margin: 0 auto;
  }
  .contact {
    width: 100%;
    margin-left: 0;
  }
  .main-content li {
    max-width: 100%;
  }
}
/*# sourceMappingURL=all.css.map */